{% extends 'base.html.twig' %}

{% block title %}Сервис{% endblock %}

{% block breadcrumbs %}
    {{ include('partions/breadcrumbs.html.twig', 
        {
            breadcrumbs: breadcrumbs
        }) 
    }}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="title3">Сервисный центр – ремонт и техническое обслуживание погрузчиков</div>

        <p>
            <ul>
                <li>вилочных погрузчиков: электрических, дизельных, газовых, бензиновых (TCM, HANGCHA(HC), 
                TOYOTA, HELI, DALIAN, JAC, MAXIMAL, LONKING, TFN, GOODSENSE, EP, KOMATSU, NISSAN, MITSUBISHI, DOOSAN, HYUNDAI);</li>
                <li>малой складской техники: штабелеры, ричтраки, перевозчики паллет (TCM, HANGCHA(HC), NOBLELIFT, WARUN, XILIN, EP;</li>
                <li>дорожно-строительной техники: фронтальные погрузчики, экскаваторы, бульдозеры и т.д. 
                (BOBCAT, АМКОДОР, МТЗ, ANT,  МКСМ и др.).</li>
            </ul>
        </p>

        <p>
            Ремонт погрузчиков и складской техники может выполняться как на территории сервисного центра, 
            так и непосредственно на месте эксплуатации техники. Все работы осуществляются высококвалифицированными 
            сотрудниками с помощью современного оборудования и инструментов.
        </p>

        <h3>Услуги сервисного центра:</h3>
        <p>
            <ul>
                <li>техническое обслуживание погрузчиков любых видов;</li>
                <li>диагностика неисправностей различных видов техники;</li>
                <li>гарантийный, текущий ремонты;</li>
                <li>капитальный ремонт;</li>
                <li>поставка запасных частей к погрузчикам, штабелерам, ричтракам;</li>
                <li>предпродажная подготовка техники;</li>
                <li>замена и поставка шин погрузчиков;</li>
                <li>оснащение техники дополнительным навесным оборудованием;</li>
                <li>ремонт электронных устройств;</li>
                <li>обслуживание и ремонт АКБ;</li>
                <li>шиномонтаж и кузовной ремонт;</li>
            </ul>
        </p>

        <h3>Преимущества сотрудничества с нами:</h3>
        <p>
            <ul>
                <li>высокая скорость обслуживания;</li>
                <li>приемлемые цены на выполнение сервисных и ремонтных работ;</li>
                <li>индивидуальный подход к клиенту;</li>
                <li>выполнение работ по ремонту на местах эксплуатации;</li>
                <li>высококвалифицированный персонал и качество выполнения сервисных работ.</li>
            </ul>
        </p>

        <p>Запись на ТО и ремонт погрузчиков или другой техники в Москве 
        осуществляется по телефону +7 (800) 505 62 36 или через форму <a href="/contacts">обратной связи</a>.</p>

    </div>

{% endblock %}