{% extends 'base.html.twig' %}

{% block title %}Доставка{% endblock %}

{% block breadcrumbs %}
    {{ include('partions/breadcrumbs.html.twig', 
        {
            breadcrumbs: breadcrumbs
        }) 
    }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="title3">Доставка</div>
        
        <p>Перед тем как приобрести технику у вас есть возможность подробнее ознакомиться 
        с характеристиками и внешним видом широкого ассортимента моделей на нашем складе в г. Москва.</p>

        <p>Доставка осуществляется автомобильным или железнодорожными транспортом в 
        зависимости от расстояния, на которое необходимо перевезти технику. Заказать 
        доставку вы можете в любой город России.</p>

        <p>
            <img src="/img/shipping.png">
        </p>

        <p>Надежные, проверенные перевозчики осуществляют быструю доставку спецтехники 
        без малейших повреждений, учитываются все особенности оборудования и пожелания 
        клиента. Ответственность перевозчиков оформляется документально, поэтому вы можете 
        быть уверены в юридической безопасности вопроса.</p>

        <p>Мы ценим ваше доверие и к каждому нашему клиенту относимся с особенным вниманием. 
        В процессе заключения договора за вами будет закреплен личный менеджер, который 
        осуществит грамотное сопровождение сделки, проконтролирует сроки и качество доставки, 
        предоставит все необходимые отгрузочные документы.</p>

        <p>У каждого клиента есть возможность отслеживать местонахождение груза в 
        реальном времени. Информацию предоставляет ответственный менеджер.</p>

    </div>

{% endblock %}