<h3>Здравствуйте!</h3>

<p>
    Введите на странице регистрации Ваш код подтверждения Email:
</p>
<h3><code>{{ code }}</code></h3>

<p>
    Если Вы не делали попытку регистрации на сайте <a href="{{ protocol_http }}{{ domain }}">{{ domain }}</a>, то просто проигнорируйте это письмо.
    Внимание! Письмо создано системой автоматически, на него не нужно отвечать.
</p>